<br>
<div class="container">
    <div class='card'>
        <div class='card-header'>
            <h4>Crear Laboratorio</h4>
        </div>
  
        <div class='card-body'>
                <div class='row'>
                    <div class="col-md-2 text-right">
                            <i class="fa fa-user fa-5x" aria-hidden="true"></i>
                    </div>
                  <div class='col-md-10'>
                    <div class='row'>
                      <div class='col-md-2 text-right form-group'>ID Paciente:    </div>
                      <div class='col-md-4'>
                          <input type="number" class="form-control" [(ngModel)]="pacienteId"/>
                        </div>
                    </div>
                    <div class='row'>
                      <div class='col-md-2 text-right form-group'>Nombres:</div>
                      <div class='col-md-4'> 
                          <input type="text" class="form-control"  [(ngModel)]="tipoLabo"/>
                      </div>
                    </div>
                    <br>
                    <div class='row'>
                        <div class="col-md-3 offset-md-9">
                           <button class="btn btn-primary"  (click)="crearLabo()">Crear</button>
                        </div>
                        </div>
                  </div>
                </div>
              </div>
    </div>
</div>


