<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Clinica Meida</title>
    <base href="/">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="~/node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/node_modules/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/node_modules/primeicons/primeicons.css" rel="stylesheet" />
    <link href="~/node_modules/primeng/resources/themes/nova-light/theme.css" rel="stylesheet" />
    <link href="~/node_modules/primeng/resources/primeng.min.css" rel="stylesheet" />
</head>
<body>

    @RenderBody()
    <script src="~/node_modules/jquery/dist/jquery.min.js"></script>
    <script src="~/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    @RenderSection("scripts", false)

</body>
</html>